
  @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Oxanium&display=swap');

  $lilac-color: #B0A1BA;
  $blue-grey-color: #A5B5BF;
  $ash-grey-color: #ABC8C7;
  $ash-green-color: #B8E2C8;
  $mint-green-color: #BFF0D4


  


